@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.cart {
    padding-top: 50px;
    padding-bottom: 110px;

    .container {
        .cart-title {
            @include head-lora-36;
        }

        .cart-info {
            display: flex;
            justify-content: space-between;
            margin-top: 35px;
            margin-bottom: 160px;

            .cart-products {
                width: 678px;

                .cart-product {
                    @include d-flex-between;
                    border-top: 1px solid #EBEBEB;
                    padding-top: 20px;
                    margin-top: 20px;

                    &:first-child {
                        padding-top: 0;
                        margin-top: 0;
                        border-top: 0;
                    }

                    .cart-product-image {
                        background-size: cover;
                        background-position: center;
                        width: 80px;
                        height: 80px;
                        margin-right: 26px;
                        border-radius: 5px;
                    }

                    .cart-product-name {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 130%;
                        color: black;
                        width: 247px;
                        margin-right: 10px;
                    }

                    .cart-product-price {
                        margin-left: 69px;
                        font-weight: 600;
                        font-size: 18px;
                        color: $gray-text-color;
                        margin-right: 19px;
                        width: 100px;
                    }

                    .cart-product-remove {
                        cursor: pointer;
                    }
                }
            }

            .cart-details {
                width: 501px;

                .cart-details-info {
                    background: #E7F1E8;
                    border-radius: 5px;
                    padding: 40px;
                    margin-bottom: 12px;

                    .cart-details-info-title {
                        font-family: 'Lora', sans-serif;
                        font-weight: 400;
                        font-size: 26px;
                        color: $green-text-color;
                        margin-bottom: 20px;
                    }

                    .cart-details-info-item {
                        display: flex;
                        align-items: center;
                        color: $gray-text-color;

                        &.first {
                            margin-bottom: 10px;
                        }

                        .cart-details-info-item-text {
                            font-size: 16px;
                            margin-right: 12px;
                        }

                        .cart-details-info-item-data {
                            font-weight: 500;
                            font-size: 20px;
                        }
                    }

                    .cart-details-info-delivery {
                        margin-top: 5px;
                        font-style: italic;
                        font-weight: 300;
                    }
                }

                .cart-details-actions {
                    @include d-flex-between;

                    .button {
                        width: 234px;

                        &.button-transparent {
                            width: 255px;
                            margin-right: 12px;
                            color: #6CAC72;
                        }
                    }
                }
            }
        }
    }
}
