@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main {
    background-image: url("../../../assets/images/page/main.png");
    background-repeat: no-repeat;
    background-position-x: calc(50% + 210px);
    padding-top: 58px;
    padding-bottom: 231px;

    .container {
        .main-title {
            font-family: 'Lora', sans-serif;
            font-size: 60px;
            line-height: 130%;
            color: #2A592E;
            margin-bottom: 67px;
        }

        .main-text {
            font-size: 18px;
            line-height: 140%;
            color: $green-text-color;
            max-width: 528px;
        }
    }
}


.offers {
    background-color: $green-bg-color;
    padding: 80px 0;

    .container {
        display: flex;
        justify-content: space-between;

        .offer {
            width: 600px;
            height: 250px;
            padding: 35px 35px 0 35px;
            background: white;
            border-radius: 5px;
            box-sizing: border-box;

            .offer-title {
                font-size: 20px;
                line-height: 130%;
                color: $green-text-color;
            }

            .offer-content {
                display: flex;

                .offer-text {
                    font-size: 16px;
                    line-height: 130%;
                    color: $green-text-color;
                }
            }

            &.offer-insta {
                .offer-image {
                    margin-top: 35px;
                }

                .offer-text {
                    margin-top: 16px;
                    max-width: 234px;
                    margin-left: 58px;
                }

                .offer-button {
                    margin-left: 168px;
                    margin-top: 22px;

                    .button {
                        width: 228px;
                    }
                }
            }

            &.offer-collection {
                .offer-title {
                    max-width: 362px;
                }

                .offer-image {
                    margin-top: 12px;
                    margin-left: 81px;
                }

                .offer-button {
                    margin-top: 75px;
                    margin-left: 44px;

                    .button {
                        width: 177px;
                    }
                }
            }
        }
    }
}


.best-products {
    padding-top: 120px;
    padding-bottom: 130px;

    .carousel-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        .carousel-title {
            @include head-lora-32;
        }

        .carousel-arrows {
            display: flex;
            align-items: center;
            justify-content: center;

            a:first-child {
                margin-right: 30px;
            }
        }
    }
}


.info {
    background-color: $green-bg-color;
    background-image: url("../../../assets/images/page/main-info.png");
    background-repeat: no-repeat;
    background-position-x: calc(50% + 340px);
    padding: 80px 0;

    .container {
        .info-title {
            @include head-lora-32;
            margin-bottom: 5px;
        }

        .info-item {
            margin-top: 35px;
            color: black;
            max-width: 442px;

            .info-image {
                margin-bottom: 30px;
                width: 70px;

                img {
                    max-width: 100%;
                }
            }

            .info-text {
                font-size: 16px;

                .info-text-extra {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 300;
                    font-style: italic;
                    line-height: 130%;
                    margin-top: 8px;
                }
            }

            &.info-delivery {
                .info-text:last-child {
                    margin-top: 16px;
                }
            }

            &.info-payment {
                .info-text {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}










































