@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.favorite {
    padding-top: 50px;
    padding-bottom: 110px;

    .container {
        .favorite-title {
            @include head-lora-36;
            color: $green-text-color;
            margin-bottom: 35px;
        }

        .favorite-empty {
            margin-top: 20px;
            margin-bottom: 100px;

            div {
                font-size: 16px;
            }

            .button {
                width: 255px;
                margin-top: 10px;
            }
        }

        .favorite-products {
            .favorite-product {
                padding-top: 15px;
                margin-top: 15px;
                border-top: 1px solid #E7F1E8;
                @include d-flex-between;

                &:first-child {
                    padding-top: 0;
                    margin-top: 0;
                    border-top: 0;
                }
            }

            .favorite-product-image {
                @include background-image(100px, 100px, 5px);
                cursor: pointer;
            }

            .favorite-product-name {
                margin-left: 24px;
                font-size: 20px;
                color: $gray-text-color;
                width: 500px;
                margin-right: 20px;
            }

            .favorite-product-price {
                width: 100px;
                margin-right: 20px;
                font-weight: 600;
                font-size: 22px;
                color: $gray-text-color;
            }

            .favorite-product-action {
                display: flex;
                align-items: center;
                justify-content: right;
                width: 280px;
                margin-right: 20px;

                button {
                    width: 160px;

                    &.button-transparent {
                        width: 160px;
                        margin-left: 20px;
                    }
                }
            }

            .favorite-product-remove {
                cursor: pointer;
            }
        }
    }
}
