@import "../../../../assets/styles/variables";

.product-card {
    width: 291px;
    height: 498px;
    box-sizing: border-box;
    position: relative;

    &.is-lite {
        cursor: pointer;
        height: auto;
    }

    .product-card-favorite {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
        z-index: 2;
    }

    .product-card-image {
        width: 291px;
        height: 291px;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
    }

    .product-card-name {
        height: 52px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: $green-text-color;
        margin-top: 15px;
    }

    .product-card-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 18px;
        padding-bottom: 20px;
        border-bottom: 1px solid #C7C7C7;

        .product-card-price {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 22px;
            color: $green-text-color;
        }

        .product-card-action .button {
            width: 166px;
        }
    }

    .product-card-extra {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .product-card-detail {
            display: flex;
            align-items: center;

            span {
                margin-left: 8px;
                color: #9AA89B;
                font-size: 16px;
            }
        }
    }
}
