@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/data-form";

.order {
    padding-top: 86px;
    padding-bottom: 107px;

    .container {

        .order-title {
            @include head-lora-32;
        }

        .order-info {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;

            .order-details {
                width: 422px;

                .order-details-info {
                    background: #E7F1E8;
                    border-radius: 5px;
                    padding: 40px;
                    margin-bottom: 14px;

                    .order-details-info-title {
                        font-family: 'Lora', sans-serif;
                        font-weight: 400;
                        font-size: 26px;
                        color: $green-text-color;
                        margin-bottom: 20px;
                    }

                    .order-details-info-item {
                        display: flex;
                        align-items: center;
                        color: $gray-text-color;
                        margin-bottom: 10px;

                        .order-details-info-item-text {
                            font-size: 16px;
                            margin-right: 12px;
                        }

                        .order-details-info-item-data {
                            font-weight: 500;
                            font-size: 20px;
                        }

                        &:last-child {
                            margin-bottom: 0;

                            .order-details-info-item-text,
                            .order-details-info-item-data {
                                font-weight: 600;
                            }
                        }
                    }
                }

                .button {
                    width: 100%;
                }
            }
        }
    }
}


.order-popup {
    padding: 100px 70px 220px;
    position: relative;
    text-align: center;
    color: $green-text-color;
    background-image: url("../../../../assets/images/page/order-popup.png");
    background-position: bottom center;
    background-repeat: no-repeat;

    .order-popup-close {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    .order-popup-title {
        @include head-lora-32;
        margin-bottom: 40px;
    }

    .order-popup-content div {
        font-size: 20px;
        margin-bottom: 5px;
    }
}

