<section class="order">
    <div class="container">
        <div class="order-title">Оформление заказа</div>

        <div class="order-info">
            <div class="order-form">

                <div class="order-form-block">
                    <div class="order-form-label">Выберите способ доставки</div>
                    <div class="order-form-types">
                        <div class="order-form-type-item active">Курьером</div>
                        <div class="order-form-type-item">Самовывоз</div>
                    </div>
                </div>

                <div class="order-form-block">
                    <div class="order-form-label">Заполните личные данные</div>
                    <div class="order-form-inputs personal-data-inputs">
                        <input class="input" type="text" placeholder="Фамилия">
                        <input class="input" type="text" placeholder="Имя">
                        <input class="input" type="text" placeholder="Отчество">
                        <input class="input" type="text" placeholder="Телефон">
                        <input class="input" type="text" placeholder="E-mail">
                    </div>
                </div>

                <div class="order-form-block">
                    <div class="order-form-label">Заполните адрес доставки</div>
                    <div class="order-form-inputs address-inputs">
                        <input class="input street" type="text" placeholder="Улица">
                        <input class="input house" type="text" placeholder="№ дома">
                        <input class="input entrance" type="text" placeholder="Подъезд">
                        <input class="input apartment" type="text" placeholder="№ квартиры">
                    </div>
                </div>

                <div class="order-form-block">
                    <div class="order-form-label">Выберите способ оплаты</div>
                    <div class="order-form-radio">
                        <div class="order-form-radio-block">
                            <input type="radio" id="card">
                            <label for="card">Оплата банковской картой в интернет-магазине</label>
                        </div>
                        <div class="order-form-radio-block">
                            <input type="radio" id="cash-less">
                            <label for="cash-less">Безналичный расчет при получении</label>
                        </div>
                        <div class="order-form-radio-block">
                            <input type="radio" id="cash">
                            <label for="cash">Наличный расчет при получении</label>
                        </div>
                    </div>
                </div>

                <div class="order-form-block">
                    <div class="order-form-label">Комментарий к заказу (необязательно)</div>
                    <div class="order-form-inputs">
                        <textarea cols="30" rows="5" class="input" placeholder="Оставьте свой комментарий..."></textarea>
                    </div>
                </div>
            </div>

            <!---->

            <div class="order-details">
                <div class="order-details-info">
                    <div class="order-details-info-title">Ваш заказ</div>
                    <div class="order-details-info-item">
                        <div class="order-details-info-item-text">Товаров:</div>
                        <div class="order-details-info-item-data">4</div>
                    </div>
                    <div class="order-details-info-item">
                        <div class="order-details-info-item-text">Общая стоимость:</div>
                        <div class="order-details-info-item-data">34 BYN</div>
                    </div>
                    <div class="order-details-info-item">
                        <div class="order-details-info-item-text">Стоимость доставки:</div>
                        <div class="order-details-info-item-data">4 BYN</div>
                    </div>
                    <div class="order-details-info-item">
                        <div class="order-details-info-item-text">Итоговая стоимость:</div>
                        <div class="order-details-info-item-data">38 BYN</div>
                    </div>
                </div>
                <button class="button">Подтвердить заказ</button>
            </div>
        </div>
    </div>
</section>
