.count-selector {
    width: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
