@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

header.header {
    padding: 30px 0 50px 0;

    .container {
        display: flex;
        justify-content: space-between;

        a.logo {
            cursor: pointer;
            max-width: 148px;

            img {
                max-width: 100%;
            }
        }

        .header-top {
            padding-top: 32px;
            padding-bottom: 25px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #C5C5C5;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;

            .header-top-menu {
                margin-left: 26px;
                margin-right: 191px;

                nav ul {
                    margin: 0;
                    padding: 0;
                    display: flex;

                    li {
                        margin-right: 40px;
                        list-style: none;
                        border-bottom: 1px solid transparent;

                        &.active {
                            border-bottom-color: $green-text-color;
                        }

                        a {
                            font-size: 16px;
                            cursor: pointer;
                            text-decoration: none;
                        }
                    }
                }
            }

            .header-top-phone {
                font-size: 16px;
                cursor: pointer;
                text-decoration: none;
                margin-right: 60px;
                color: $green-text-color;
            }

            .header-top-actions {
                display: flex;
                align-items: center;

                a {
                    margin-right: 8px;
                    position: relative;

                    &:last-child {
                        margin-right: 18px;
                    }

                    span {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        top: 10px;
                        right: -18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 400;
                        font-size: 9px;
                        background: #B6D5B9;
                    }
                }
            }
        }

        .header-bottom {
            padding-top: 16px;
            display: flex;
            align-items: center;

            .header-bottom-menu {
                margin-left: 26px;
                margin-right: 97px;

                nav ul {
                    margin: 0;
                    padding: 0;
                    display: flex;

                    li {
                        margin-right: 50px;
                        list-style: none;
                        border-bottom: 1px solid transparent;

                        &.active {
                            border-bottom-color: $green-text-color;
                        }

                        a {
                            font-size: 16px;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }
            }

            .header-bottom-search {
                position: relative;

                input {
                    width: 214px;
                    height: 41px;
                    box-sizing: border-box;
                    outline: none;
                    border: 1px solid $green-text-color;
                    border-radius: 30px;
                    padding: 10px 10px 10px 43px;
                    font-size: 16px;
                }

                &::after {
                    content: '';
                    background-image: url("../../../../assets/images/icons/search.png");
                    background-size: cover;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    left: 15px;
                    top: 11px;
                }

                .search-products {
                    position: absolute;
                    right: 0;
                    top: 60px;
                    width: 400px;
                    background-color: white;
                    border-radius: 5px;
                    border: 1px solid #EBEBEB;

                    .search-product {
                        padding: 12px 23px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-size: 16px;

                        &:first-child {
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                        }

                        &:last-child {
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }

                        .search-product-image {
                            @include background-image(40px, 40px, 5px);
                            margin-right: 25px;
                        }

                        .search-product-name {
                            color: #8E8E8E;
                            line-height: 1.3;
                        }

                        &:hover {
                            background-color: #EBEBEB;

                            .search-product-name {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}
