@font-face {
    src: url("../fonts/Montserrat-Medium.ttf");
    font-family: "Montserrat";
    font-weight: 500;
}

@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "Montserrat";
    font-weight: 400;
}
