html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $green-text-color;
}

a {
    text-decoration: none;
    cursor: pointer;

    &.button {
        display: inline-block;
    }
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

.input {
    box-sizing: border-box;
    padding: 17px 20px;
    border: 2px solid #2A592E;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $gray-text-color;
}

.small-input {
    border: 1px solid #6CAC72;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    width: 40px;
    height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $green-text-color;
}

.button {
    text-align: center;
    padding: 15px;
    background: #456F49;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;

    &:disabled {
        background: gray;
        cursor: not-allowed;
    }
}

.mat-menu-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    a {
        color: $gray-text-color;
        text-decoration: none;
    }
}
