html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $base-text-color;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}
